@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}
.main-container {
  flex-grow: 1;
}
.navigation-list {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.navigation-link {
  text-decoration: none;
  color: #000000;
}
.desire {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.desire .navigation-link {
  color: #FFFFFF;
  background-color: #756157;
}
.hero {
  background-color: #83B3D333;
  background-image: url("../images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.welcome h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.welcome p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
.white {
  background-color: #82B3D3;
}
.white h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}
.white p {
  color: #FFFFFF;
}
.lightblue {
  background-color: rgba(131, 179, 211, 0.12);
}
.lightblue h3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.lightblue p {
  color: #333333;
}
.darkblue {
  background-color: rgba(131, 179, 211, 0.2);
}
.darkblue h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.darkblue p {
  color: #333333;
}
.letsgo {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.services .description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 20px 0 64px;
}
.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.services-title-catalog {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
.services-description {
  color: #333333;
}
.appointment-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.appointment-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.appointment-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}
.newsletter {
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}
.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
.newsletter-button {
  background-color: #82B3D3;
}
.newsletter-subscribe {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button-newsletter-catalog {
  background-color: #82B3D3;
}
.button-newsletter-subscribe {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.inner-header {
  background-color: #82B3D3;
  background-image: url("../images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}
.breadcrumbs {
  text-align: left;
  font-size: 16px;
  line-height: 21px;
}
.control-input {
  font-size: 18px;
  line-height: 23px;
}
.button-submit {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background: none;
}
.search {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.select-control {
  color: #333333;
 }
.hotel-list-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.hotel-list-link {
  text-decoration: none;
  color: #000000;
}
.hotel-list-class {
  color: #333333;
}
.hotel-list-price {
  text-align: right;
  color: #333333;
  font-weight: 400;
}
.hotel-list-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}
.hotel-list-favorite {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}
.inlist {
  background-color: #7DB54F;
}
.rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-between {
  color: #000000;
  background-color: #FFFFFF;
}
.newsletter-catalog .newsletter-description {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.newsletter-catalog .newsletter-button {
  background-color: #82B3D3;
  color: #000000;
  font-family: "PT Sans", sans-serif;
}
.newsletter-catalog .newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.control-input {
  font-family: "PT Sans", sans-serif;
}
.select-control {
  font-family: "PT Sans", sans-serif;
}
.field {
  font-family: "PT Sans", sans-serif;
}
.main-header {
  width: 1200px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 64px;
}
.logo {
  margin-left: 70px;
  margin-right: 30px;
}
.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.navigation-list .navigation-link {
  padding: 20px 16px;
  display: block;
}
.navigation-user {
  max-width: 268px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
.navigation-user .navigation-link {
  padding: 22px 12px;
  display: block;
}
.hero {
  width: 1200px;
  margin: 0 auto;
  height: 485px;
}
.hero img {
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 82px;
}
.welcome {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  height: 261px;
}
.welcome h2 {
  margin: 0;
  width: 620px;
  padding: 0 290px;
  margin-top: 69px;
}
.welcome p {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 69px;
}
.advantages {
  width: 1200px;
  margin: 0 auto;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.advantages-item {
  width: 400px;
  height: 385px;
}
.advantages-item h3 {
  margin-top: 112px;
}
.advantages-item p {
  margin-top: 62px;
  margin-bottom: 112px;
}
.white {
  width: 100%;
  display: flex;
}
.advantages-item-container {
  width: 400px;
}
.advantages-item-container h3 {
  margin-top: 102px;
  min-width: 175px;
}
.advantages-item-container  p {
  margin-top: 62px;
  margin-bottom: 102px;
}
.advantages-title {
  margin: 0 112px;
}
.advantages-description {
  margin: 0 85px;
}
.letsgo {
  margin: 64px 347px 0;
}
.services {
  width: 1200px;
  margin: 0 auto;
}
.services-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.services-item {
  width: 400px;
  height: 385px;
}
.services-title {
  margin: 0 85px;
  margin-top: 30px;
}
.services-description {
  margin: 0 85px;
  margin-top: 30px;
}
.icon {
  margin-top: 81px;
}
.appointment {
  width: 1200px;
  margin: 0 auto;
  height: 406px;
}
.appointment-title {
  margin: 0;
  margin-top: 96px;
}
.appointment-description {
  margin: 0;
  margin: 20px 304px 54px;
}
.appointment-link {
  padding: 8px 50px;
}
.newsletter {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  height: 414px;
}
.newsletter-title {
  margin: 0 398px;
  margin-top: 96px;
}
.newsletter-description {
  margin: 20px 362px 54px;
}
.field {
  padding: 14px 345px 14px 8px;
}
.newsletter-subscribe {
  padding: 8px 50px;
}
.button-newsletter-subscribe {
  padding: 8px 50px;
}
.main-footer {
  width: 1200px;
  margin: 0 auto;
  height: 120px;
}
.footer-contacts {
  display: flex;
  width: 1060px;
  margin: 40px 70px 30px;
}
.footer-contacts-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  min-width: 142px;
  justify-content: space-evenly;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
ul {
  list-style-type: none;
}
.footer-contacts-phone {
  margin: 5px 195px;
}
.footer-logo {
  margin-right: 70px;
}
.main-inner {
  width: 1200px;
  margin: 0 auto;
}
.inner-header {
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.breadcrumbs-link:nth-child(2) {
  margin-left: 28px;
}
.services-filter {
  display: flex;
  flex-direction: row;
}
.services-filter-list {
  margin: 0;
  padding: 0;
}
.button-filer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 191px;
}
.services-filter-group:nth-child(1) {
  padding: 0;
  width: 150px;
  margin-right: 70px;
}
.services-filter-group:nth-child(2) {
  padding: 0;
  width: 150px;
  margin-right: 140px;
}
.services-filter-group:nth-child(3) {
  padding: 0;
  width: 288px;
  margin-right: 70px;
}
.button-submit {
  padding: 8px 50px;
  margin-bottom: 35px;
}
.button-reset {
  padding: 8px 50px;
}
.selecting {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}
.select-control {
  width: 292px;
  height: 49px;
  margin-left: 200px;
  align-self: center;
}
.hotels {
  padding: 0 70px;
}
.hotel-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 20px;
}
.hotel-list-link {
  width: 300px;
}
.hotel-list-item {
  width: 300px;
  padding: 20px;
}
.hotels-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  flex-wrap: wrap;
  gap: 20px;
}
.hotel-list-class {
  width: 140px;
  height: 21px;
}
.hotel-list-price {
  width: 140px;
  height: 21px;
}
.hotel-list-button {
  width: 140px;
  height: 36px;
}
.hotel-list-favorite {
  width: 140px;
  height: 36px;
}
.star-container {
  width: 140px;
  height: 36px;
}
.rating {
  width: 140px;
  height: 36px;
}
.pagination {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  margin: 0;
  padding: 0;
}

